@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
* regular text -  font-family: "Notica Text", serif';
* Headers -  font-family: 'Lato', sans-serif;
 */

html, body, #root {
    height: 100%
}

.App {
    height: 100%;

}
Body {
    background: url("../public/assests/backgroundInfo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Notica Text", serif !important;
    height: 100vh;
    width: 100%;
}
#root {
    height: 100vh;
    width: 100vw;
}

.search{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.LogoHolder {
    display: flex;
    justify-content: center;
}

.Logo {
    margin-top: 25px;
    max-width: 400px;
}

.weatherHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
    margin-top: 100px;
    perspective: 1000px; /* Set the perspective */
}

.boards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alertsBoard{
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}


#parksRow {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.parkImageContainer{
    background-image: url("../public/assests/SVG/Modal-Background.svg");
    background-repeat: no-repeat;
    background-position: center; /* This will center the background image */
    height: 200px;
    font-size: 13px;
    font-weight: bold;
    max-width: 162px !important;
}

.parkSign {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    margin: 20%;
}

.parkImageTitle{
    font-family: 'Lato', sans-serif;
    display: flex;
}

.parkImage {
    margin-top: 20px;
    max-height: 95px;
}



.state-parks-carousel{
    postion: fixed;
    bottom: 0;
    width: 100%
}

.state-parks-carousel .carousel-control-prev{
    width: 35px !important;
}

.state-parks-carousel .carousel-control-next{
    width: 35px !important;
}


.state-parks-carousel .carousel-indicators{
    bottom: -35px;
}

.state-parks-carousel .carousel-indicators li {
    background-color: black !important;
}

.state-parks-carousel .carousel-indicators .active {
    background-color: white !important;
}

.carousel-item {
    padding: 0 !important;
}

.custom-carousel .carousel-indicators {
    position: absolute;
    bottom: 10%;
}

.modal-content{
    background-image: url("../public/assests/SVG/Modal-Background.svg");
    background-size: cover; /* This will scale the image to be as large as possible */
    background-repeat: no-repeat;
    height: 725px;
    background-position: center; /* This will center the background image */
    padding: 15%;
}

.modal-body {
    max-height: 512px; /* This will set the maximum height of the modal to 512px */
    overflow-y: auto;
}

.park-modal-backdrop{
    background-color: rgba(0, 0, 0, 0.01) !important;
}
